
h2.idWrap {
    padding: 30px;
    box-sizing: border-box;
    font-size: 1.6em;
    background-color: #e6e6e6;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.boxWrap {
    width: 600px;
    background-color: #FBFBFB;
    box-sizing: border-box;
    padding: 40px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h3.titleWrap {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 10px;
    color:#4f4f4f;
    border-bottom: 1px solid #cecece;
}

.boxWrap2 {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 가운데 정렬 (센터) */
}

.boxWrap2 p {
    font-size: 2em;
}

.txtWrap {
    padding: 30px 0;
    font-size: 2.5em;
}

p.dateTxt {
    color: #969696;
    font-size: 1.4em;
}

/*---- 유저 프로필 부분  -----*/
/*----- feedHeaders.js  -----*/

.topWrap {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;

}
.topWrap h3 {
    font-size: 2.2em;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
    background: #03C179;
    color: #fff;
    border-bottom: 1px solid #6de0b0;
}

.boxWarp {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

div.innerBox {
    width: 100px;
    height: 100px;
    background: #03C179;
    border-radius: 10px;
    text-align:center;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
}

span.spanTxt {
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
}


/* 피드댓글 추가 */
.feedAddWrap {
    margin-top:20px;
}

.cmtAddBtnWrap {
    text-align: right;
}

/* 피드리스트 출력부분 */
ul.cmtUl {
    width: 100%;
}

ul.cmtUl li {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.cmtList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p.writerWarp {
    font-size: 1.2em;
}
p.cmtContentWrap {
    width: 300px;
    font-size: 1.22em;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
}

